__pycache__/
user_data/
*.ckpt
*.safetensors
*.pth
*.pt
*.gguf
*.png
*.jpg
*.jpeg
*.webp
*.webm
*.avi
*.mp4
*.json
*.part
sd*
!sd*.py
!*.ps1
/venv

outputs/pprompts/pprompt_*.txt
outputs/nprompts/nprompt_*.txt

!outputs/pprompts/pprompts.txt
!outputs/nprompts/nprompts.txt
