__pycache__/
*.ckpt
*.safetensors
*.pth
*.pt
*.gguf
*.png
*.jpg
*.jpeg
*.webp
*.webm
*.avi
*.mp4
*.json
*.part
sd*
!sd*.py
!*.ps1
/venv

user_data/

!defaults/*.json

outputs/commands/command_*.txt
outputs/pprompts/pprompt_*.txt
outputs/nprompts/nprompt_*.txt

!outputs/commands/commands.txt
!outputs/pprompts/pprompts.txt
!outputs/nprompts/nprompts.txt
